services:
  nginx:
    image: nginx:1.27-alpine
    ports:
      - "8090:80"
    volumes:
      - ./:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
